* {
  font-family: "montserrat";
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

body {
  background-color: teal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 20vh;
  background-color: #556;
  padding: 1.5vw;
}
.footer__a {
  opacity: 0.5;
}
.footer__a:hover {
  opacity: 1;
}
.footer__img {
  width: 15vh;
}

.page {
  margin-top: 7vh;
}
@media screen and (max-width: 760px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.logo {
  color: white;
  width: 5vw;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  -ms-grid-rows: 20% 20px 40vh;
  grid-template-rows: 20% 40vh;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 1vw;
  width: 100vw;
  height: 73vh;
}

.contenedor > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.contenedor > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
@media screen and (max-width: 1600px) {
  .contenedor {
    -ms-grid-columns: 0.1fr 2fr 1fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 1fr 0.1fr;
  }
}
@media screen and (max-width: 760px) {
  .contenedor {
    height: 120vh;
    -ms-grid-columns: 0.1fr 1fr 0.1fr;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    -ms-grid-rows: 10% 40vh 5vh 40vh 10vh;
    grid-template-rows: 10% 40vh 5vh 40vh 10vh;
  }
  .contenedor > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .contenedor > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .contenedor > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .contenedor > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .contenedor > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .contenedor > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .contenedor > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .contenedor > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .contenedor > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .contenedor > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}
.contenedor__h2 {
  align-self: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-style: italic;
  font-weight: 900;
  font-size: 6vh;
  padding-left: 0.5vw;
  height: 7vh;
}

.carrito {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding-top: 1vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: black;
}
@media screen and (max-width: 760px) {
  .carrito {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
.carrito__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 2.5vw;
  color: teal;
  height: 5vh;
}
.carrito__lista {
  overflow-y: scroll;
  height: 100%;
  border-top: 1px solid #ddd;
}
.carrito__vacio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #ccc;
}

.tienda {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding-top: 1vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: black;
}
@media screen and (max-width: 760px) {
  .tienda {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
.tienda__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 2.5vw;
  color: teal;
  height: 5vh;
}
.tienda__lista {
  overflow-y: scroll;
  height: 100%;
  border-top: 1px solid #ddd;
}
.tienda__vacio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #ccc;
}
.tienda__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: teal;
  border: 1px solid white;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
  width: 100%;
}

.header {
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: teal;
  border-bottom: 1px solid #ccc;
  position: fixed;
  height: 7vh;
  width: 100vw;
  padding: 0 2vw;
}
.header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 6vh;
  font-style: italic;
  font-weight: 900;
  color: white;
}
.header__logo:hover {
  cursor: default;
}
.header__nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header__li {
  list-style: none;
}
.header__li a {
  text-decoration: none;
  color: #ccc;
}
.header__li a:hover {
  color: white;
}

.subtotal {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  justify-self: flex-end;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 760px) {
  .subtotal {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
.subtotal__monto {
  font-size: 3vh;
}
.subtotal__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
}
.subtotal__boton:hover {
  color: teal;
  background: white;
  border: 1px solid white;
}
.subtotal__boton:active {
  color: white;
  background: teal;
  border: 1px solid teal;
}

.producto {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 15%;
  grid-template-columns: 25% 50% 15%;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 10vh;
  padding: 1vh;
  color: #aaa;
}

.producto > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.producto > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.producto > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.producto > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.producto > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.producto > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.producto__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 8vh;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.producto__nombre {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  align-self: flex-start;
  font-size: 1.5vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.producto__precio {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  align-self: flex-end;
  font-size: 1.5vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.producto__borrar {
  color: #ddd;
  background: transparent;
  -ms-grid-column: 5;
  grid-column: 5/5;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 4vh;
  width: 4vh;
  border: none;
  font-size: 1vh;
}
.producto__borrar:hover {
  color: #999;
}
.producto__borrar:active {
  color: teal;
}

.articulo {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 10px 1fr 10px 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  -ms-grid-columns: 1fr 3fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  color: #aaa;
  row-gap: 10px;
  font-size: 2vh;
}

.articulo > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.articulo > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.articulo > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.articulo > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.articulo > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.articulo > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.articulo > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.articulo > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.articulo > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.articulo > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.articulo > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.articulo > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
.articulo__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  width: 100%;
  height: 15vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.articulo__nombre {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5vh;
}
.articulo__precio {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  justify-self: flex-end;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5vh;
}
.articulo__agregar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  height: 4vh;
  width: 10vh;
  width: 100%;
  border: none;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: -0.5vw;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.articulo__agregar:hover {
  color: white;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.articulo__agregar:active {
  color: white;
  background-color: teal;
  border: 1px solid teal;
}

.categoria {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
@media screen and (max-width: 760px) {
  .categoria {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
.categoria__cambiar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
}
.categoria__cambiar:hover {
  color: teal;
  background: white;
  border: 1px solid white;
}
.categoria__cambiar:active {
  color: white;
  background: teal;
  border: 1px solid teal;
}
.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 20% 20px 60% 20px 20%;
  grid-template-rows: 20% 60% 20%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 60vh;
  width: 100vw;
  padding: 1vw;
  height: 73vh;
}
.form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.form > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.form > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.form > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.form > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.form > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.form > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
@media screen and (max-width: 760px) {
  .form {
    -ms-grid-columns: 0.1fr 1fr 0.1fr;
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
}
.form__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-style: italic;
  font-weight: 900;
  font-size: 6vh;
  padding-left: 0.5vw;
}
.form__form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: white;
  color: black;
}
.form__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  color: teal;
  text-transform: uppercase;
}
.form__lista {
  height: 85%;
  border-top: 1px solid #ddd;
}
.form__vacio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #ccc;
}
.form__button {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.form__button__cambiar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
}
.form__button__cambiar:hover {
  color: teal;
  background: white;
  border: 1px solid white;
}
.form__button__cambiar:active {
  color: white;
  background: teal;
  border: 1px solid teal;
}
.form__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  min-height: 25%;
  padding: 1vh 2vh;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid #ccc;
  color: #999;
}
.form__block > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.form__block > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.form__block > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.form__block > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.form__label {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.form__input {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border: 1px solid #ccc;
}
.form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2vh;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: transparent;
  border: 1px solid white;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
  padding-right: 2vh;
}
.form__button:hover {
  color: teal;
  background: white;
  border: 1px solid white;
}
.form__button:active {
  color: white;
  background: teal;
  border: 1px solid teal;
}